anyio==3.6.2
appdirs==1.4.4
asgiref==3.6.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
contextvars==2.4
dateutils==0.6.12
decorator==5.1.1
h11==0.14.0
htmltools==0.2.1
idna==3.4
immutables==0.19
linkify-it-py==2.0.2
lxml==4.9.2
markdown-it-py==2.2.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
packaging==23.1
pod2gen @ git+https://gitlab.com/rpodcast/pod2gen@ed17edae56a49ce9a41563d777846d5a05a8edd1
prompt-toolkit==3.0.38
pycountry==22.3.5
pycparser==2.21
Pygments==2.15.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2023.3
radian==0.6.5
rchitect==0.3.40
requests==2.30.0
shiny==0.3.3
six==1.16.0
sniffio==1.3.0
starlette==0.26.1
tinytag==1.9.0
typing_extensions==4.5.0
uc-micro-py==1.0.2
urllib3==2.0.2
uvicorn==0.22.0
validators==0.20.0
wcwidth==0.2.6
websockets==11.0.3
